@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100;200;300;400;600;700;800;900&display=swap");

:root {
  --black:#0B0C0E;
  --white: #f8f8f8;
  --purple: #7F00FF;
}
* {
  font-family: 'Geist', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-display: swap;
  letter-spacing: 0.003em;
  font-weight: 200;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("/landing-body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px var(--white);
}
header div {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
header .link {
    text-decoration: none;
}
header .link:hover {
    color: var(--purple);
}

main {
    margin: 0 auto;
    width: min(1400px, 80%);
}
h1 {
    font-size: 2.8rem;
}
p {
    font-size: 1.4rem;
}
.white {
    color: var(--white);
}
.purple {
    color: var(--purple);
}

.hero {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.hero .upper {
    background-color: var(--black);
    padding: 0px 30px;
}
.hero .lower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.hero .button {
    font-size: 1.8rem;
    font-weight: 900;
    background: var(--black);
    padding: 5px 20px;
    text-decoration: none;
}
.hero .button:hover {
    color: var(--purple);
}
.img {
    width: 300px;
    height: auto;
}