@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100;200;300;400;600;700;800;900&display=swap");

* {
  font-family: 'Geist', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-display: swap;
  letter-spacing: 0.003em;
  font-weight: 200;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px var(--white);
    margin-bottom: 2em;
}
header div {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
header .link {
    text-decoration: none;
}
header .link:hover {
    color: var(--purple);
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

/* LOGIN & REGISTER FORMS */

div.form-container {
    padding: 1em;
    background-color: lightgray;
}

div.form-container > form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* MAIN PAGE */

div#upload-input {
    background-color: lightgray;
    width: 500px;
    padding: 1em;
    text-align: center;
}

div#main-content {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

div#main-content > div {
    background-color: lightgray;
    padding: 1em;
}

/* UPLOAD LIST */

div#upload-list {
    width: 240px;
}

div.upload-file {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
}

div.upload-details > div.input-wrapper {
    display: flex;
    border: 1px solid black;
    background: white;
    padding: 3px;
    margin: 10px 0;
}

div.input-wrapper > input {
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
    width: 160px;
}

div.input-wrapper > div.input-suffix {
    position: relative;
}

div.upload-details > button {
    height: fit-content;
    margin-left: auto;
}

div.progress-bar {
    margin-top: 0.2em;
    background-color: black;
    height: 0.5em;
    width: 100%;
}

div.progress-bar.loading {
    background-color: yellow;
}

div#library-container {
    width: 600px;
}